<div>
    
    <div *ngIf="isGameLoaded; then gameBlock; else gameStartBlock "></div>
    <ng-template #gameBlock>
        <div>
            <div class="cardSection">
                <ul class="myCards" >
                    <li *ngFor="let cardReserve of cardReservesPlayable">
                        <a href="javascript:void(0);" (click)="selectCard(cardReserve)">
                            <img src="{{fileUrl}}/{{getFile(cardReserve)}}"/>
                        </a>
                    </li>
                    <li *ngIf="cardReservesJustWon.length > 0; then myJustWonBlock; else nothingWonYet"></li>
                    <ng-template #myJustWonBlock>
                        <li>
                            You have won another {{cardReservesJustWon.length}} card(s) 
                            which will be available for play when your current lot is done.
                        </li>
                    </ng-template>
                    <ng-template #nothingWonYet>
                        <li>
                            You are yet to win cards.
                        </li>
                    </ng-template>
                </ul>
            </div>

            <div class="placedCards" >
                <ul class="myCards" >
                    <li *ngFor="let turn of turns">
                        <span *ngIf="(turn.playerId == playerId); then myCard; else hisCard"></span>
                        <ng-template #myCard>
                            <span *ngIf="turn.isPlayed; then showCard; else myPending"></span>
                        </ng-template>
                        <ng-template #myPending>
                            <span *ngIf="(myCardReserve != undefined); then mySelectedCard; else pending"></span>
                        </ng-template>
                        <ng-template #mySelectedCard>
                            <img src="{{fileUrl}}/{{getFile(myCardReserve)}}"/>
                        </ng-template>
                        <ng-template #hisCard>
                            <span *ngIf="turn.isPlayed; then showCard; else pending"></span>
                        </ng-template>
                        <ng-template #showCard>
                            <img src="{{fileUrl}}/{{getFileByTurn(turn)}}"/>
                        </ng-template>
                        <ng-template #pending>
                            Pending...
                        </ng-template>
                    </li>
                </ul>
            </div>


            <!--
            <div class="placedCards">
                <div class="myCard">
                    <div *ngIf="isMyCardReserveSelected; then myCardReserveBlock; else thinkingBlock"></div>
                    <ng-template #myCardReserveBlock>
                        <img src="{{fileUrl}}/{{getFile(myCardReserve)}}"/>
                    </ng-template>
                    <ng-template #thinkingBlock>
                        <span *ngIf="(gameStatus !=3 && nextPlayerId == playerId); then thinking; else waiting"></span>
                        <ng-template #thinking>
                            <span>Im' Thinking...</span>
                        </ng-template>
                        <ng-template #waiting>
                            <span>I'm Waiting...</span>
                        </ng-template>
                    </ng-template>
                </div>
                <div class="divider">VS</div>
                <div class="hisCard">
                    <div *ngIf="isHisCardReserveSelected; then hisCardReserveBlock; else heThinkingBlock"></div>
                    <ng-template #hisCardReserveBlock>
                        <img src="{{fileUrl}}/{{getFile(hisCardReserve)}}"/>
                    </ng-template>
                    <ng-template #heThinkingBlock>
                        <span *ngIf="(gameStatus !=3 && nextPlayerId != playerId); then hethinking; else hewaiting"></span>
                        <ng-template #hethinking>
                            <span>He's Thinking...</span>
                        </ng-template>
                        <ng-template #hewaiting>
                            <span>He's Waiting...</span>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
            -->
            <div *ngIf="(game.gameStatus !=3 && round.nextPlayerId == playerId); then canPlay; else cannotPlay"></div>
            <ng-template #canPlay>
                <div class="gameButtons">
                    <button (click)="playTurn()">Play Turn</button>
                    
                </div>
            </ng-template>
            <ng-template #cannotPlay>
                <div class="gameButtons">
                    Please wait for your turn
                </div>
            </ng-template>
        </div>
    </ng-template>
    <ng-template #gameStartBlock>
        <div>
            <button (click)="saveNewGame()">New Game</button>
        </div>
    </ng-template>
    <div>
        <button (click)="checkIfGameExists()">Refresh</button>
    </div>
    
</div>


