<div>
    
    <div *ngIf="isGameLoaded">
        <div *ngIf="game.gameState.gameStatus != 3">
            <div class="cardSection">
                <ul class="myCards" >
                    <li *ngFor="let cardReserve of cardReservesPlayable">
                        <a href="javascript:void(0);" (click)="selectCard(cardReserve)">
                            <img src="{{fileUrl}}/{{getFile(cardReserve)}}"/>
                        </a>
                    </li>
                    <li *ngIf="cardReservesJustWon.length > 0; then myJustWonBlock; else nothingWonYet"></li>
                    <ng-template #myJustWonBlock>
                        <li>
                            You have won another {{cardReservesJustWon.length}} card(s) 
                            which will be available for play when your current lot is done.
                        </li>
                    </ng-template>
                    <ng-template #nothingWonYet>
                        <li>
                            You are yet to win cards.
                        </li>
                    </ng-template>
                </ul>
            </div>

            <div class="placedCards" >
                <ul class="myCards" >
                    <li *ngFor="let turn of turns">
                        <span *ngIf="(turn.playerId == playerId); then myCard; else hisCard"></span>
                        <ng-template #myCard>
                            <span *ngIf="turn.isPlayed; then showCard; else myPending"></span>
                        </ng-template>
                        <ng-template #myPending>
                            <span *ngIf="(myCardReserve != undefined); then mySelectedCard; else pending"></span>
                        </ng-template>
                        <ng-template #mySelectedCard>
                            <img src="{{fileUrl}}/{{getFile(myCardReserve)}}"/>
                        </ng-template>
                        <ng-template #hisCard>
                            <span *ngIf="turn.isPlayed; then showCard; else pending"></span>
                        </ng-template>
                        <ng-template #showCard>
                            <img src="{{fileUrl}}/{{getFileByTurn(turn)}}"/>
                        </ng-template>
                        <ng-template #pending>
                            Pending...
                        </ng-template>
                    </li>
                </ul>
            </div>

            <div *ngIf="(game.gameStatus !=3 && round.nextPlayerId == playerId); then canPlay; else cannotPlay"></div>
            <ng-template #canPlay>
                <div class="gameButtons">
                    <button (click)="showSelectStatModal()">Select Stat</button>
                </div>
            </ng-template>
            <ng-template #cannotPlay>
                <div class="gameButtons">
                    Please wait for your turn
                </div>
            </ng-template>
        </div>
        <div *ngIf="(game.gameState.gameStatus == 3)">
            Game over; winner = {{winnerPlayerName}}
        </div>
    </div>
    <div *ngIf="showNewGameLink">
        <div>
            <button (click)="saveNewGame()">New Game</button>
        </div>
    </div>
    <div>
        <button (click)="checkIfGameExists()">Refresh</button>
    </div>
    
    
    <div id="selectStateModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="hideSelectStatModal()">&times;</span>
            <div class="selectStateModalContent" *ngIf="(myCardReserve != undefined)">
                <div class="selectStateModalCard">
                    <div>
                        <img src="{{fileUrl}}/{{getFile(myCardReserve)}}"/>
                    </div>
                    <div class="playerNameAndCountry">
                        {{displayName}} ({{displayCountry}})
                    </div>
                </div>
                <div class="selectStateModalCardAtrributes">
                    <div>
                        <ul class="displayStats">
                            <li *ngFor="let displayStat of displayStats">
                                <span>
                                    <input type="radio" name="selectStat" 
                                        value="{{displayStat.attributeKey}}" 
                                        (click)="selectAttribute($event, displayStat.attributeKey)"
                                        [checked]="displayStat.isSelected"
                                    />
                                    {{displayStat.attributeKeyDisplay}}: {{displayStat.attributeValue}}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button (click)="playTurn()">Play Turn</button>
                    </div>                   
                </div>
            </div>
        </div>
    </div>

</div>


